/ メールから認証URLを押すとこのページにリダイレクト
.account-large-box
  .account-box__image
    = image_tag "icon-earth.svg"
  %p.account-box__title
    認証が完了しました
    %br/
    %span メールアドレスによる認証が完了しました。
  %p.account-box__text
    %span.complete まずは「カンタン応募」の仕事で、SAGOJOの実績をつくりましょう！
    %br/
    ※実績のある方は以降のシゴトがもうけやすくなります
  .account-box__article
    %p シゴト記事
  .sub
    =link_to "home", root_path, class: "sub_home"
