<!-- メールから認証URLを押すとこのページにリダイレクト -->

<div class="account-large-box">
  <div class="account-box__image">
    <%= image_tag "icon-earth.svg" %>
  </div>
  <p class="account-box__title">
    認証が完了しました<br>
    <span>メールアドレスによる認証が完了しました。</span>
  </p>
  <p class="account-box__text">
    <span class="complete">まずは「カンタン応募」の仕事で、SAGOJOの実績をつくりましょう！</span><br>
    ※実績のある方は以降のシゴトがもうけやすくなります
  </p>
  <div class="account-box__article">
    <p>シゴト記事</p>
  </div>
</div>
