$light_gray:    #dddddd;
$snow_gray:     #f5f5f5;
$dark_gray:     #aeaeae;
$bright_gray:   #efefef;
$yellow:        #ffcb00;
$white:         #fff;
$black:         #000;
$gray:          #999;
$light_blue:    #0099FF;
$light_green:   #5BC479;
$red:           #e25959;


