/ deviseからの認証メールを送信後、このページにリダイレクト
.account-send-box
  .account-box__image
    = image_tag "icon-mail.svg"
  %p.account-box__title
    メールを送信しました
  %p.account-box__text
    %span まだ認証は完了していません。
    %br/
    入力されたメールアドレスに、メールを送信しました。
    %br/
    メールをご確認いただき、認証を進めてください。
    %br/
    %br/
    しばらくしてもメールが届かない場合は、
    %br/
    = succeed "\u{306b}\u{3054}\u{9023}\u{7d61}\u{304f}\u{3060}\u{3055}\u{3044}\u{3002}" do
      %a{:href => "######"} SAGOJO事務局
    %br/
