= render 'layouts/header'
.main-contents-background
  .main-contents-background__contract
    .main-contents-background__contract__inner
      %h1 プライバシーポリシー

      %h2 1.法令等の遵守
      %p
        当社は、本サイトの利用者（以下、「利用者」といいます。）の個人情報の取得、利用その他一切の個人情報の取扱いについて、個人情報の保護に関する法律、通信の秘密に係る電気通信事業法の規定その他の関連法令、電気通信事業における個人情報保護に関するガイドライン（以下、「ガイドライン」といいます。）及びこのプライバシーポリシーを遵守します。
      %h2 2.個人情報
      %p
        本サイトにおいて「個人情報」とは、氏名、住所、電話番号、位置情報、メールアドレス等、特定の個人を識別できる情報、及び生年月日、性別、金融機関の口座番号、クレジットカード情報等、利用者から当社に提供される一切の情報をいいます。
      %h2 3.利用目的の特定及び公表
      %p
        当社は、当社が取得した利用者の個人情報の利用目的をできる限り特定の上、あらかじめ公表します。
      %h2 4.利用目的の範囲内での利用目的利用
      %p
        当社は、以下の利用目的の達成に必要な範囲内でのみ利用者の個人情報を取り扱います。
        %br
        ①当グループのサービスに登録された会員としてサービスを利用する場合、ログイン時およびログイン後における本人認証、各種画面における会員情報の自動表示
        %br
        ②当社は、会員から取得した個人情報のうち、氏名等個人を特定することができる情報（モザイク情報としての特定を含む。）を除き、当社の取引先に対し、必要最小限度において提供することがあります。
        %br③利用者への連絡その他当社が提供する取引の遂行及びこれに付随する行為
        %br
        ④利用者向け各種メールマガジンなどの情報提供
        %br
        ⑤サービスについての電子メール、郵便、電話などによる情報提供
        %br
        ⑦アンケート、キャンペーン、掲示板などの意見・情報の交換、日記等のサービスに関連して、会員と連絡をとること
        %br
        ⑧利用者から当社になされる、電子メール、郵送、電話などによるお問い合わせに対する対応
        %br
        ⑨上記①ないし⑧に付随して、当社のサービス提供に当たって必要な利用
        %br
        ２　前項の規定にかかわらず、次の各号に該当する場合には、利用者の同意を得ることなく、当社は同利用目的の範囲を超えて個人情報を取り扱うことがあります。
        %br
        ①法令に基づく場合
        %br
        ②国の機関若しくは地方公共団体又はその委託を受けた者が法令に定める事務をすることに対して協力する必要がある場合であって、会員本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
      %h2 5.適正な取得
      %p
        当社は、偽りその他不正の手段により個人情報を取得しません。
      %h2 6.安全管理措置
      %p
        当社は、利用者の個人情報を正確かつ最新の内容に保つよう努めるとともに、不正なアクセス、改ざん、漏洩、滅失及び毀損から保護するため、必要かつ適切な安全管理措置を講じます。
      %h2 7.従業者への監督
      %p
        当社は、利用者の個人情報の安全管理が図られるよう従業者に対する必要かつ適切な監督をします。
      %h2 8.第三者への提供
      %p
        当社は、次の各号に該当する場合を除き、利用者の同意を得ることなく第三者に利用者の個人情報を提供することをしません。
        %br
        ①法令に基づく場合
        %br
        ②国の機関若しくは地方公共団体又はその委託を受けた者が法令に定める事務をすることに対して協力する必要がある場合であって、会員本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
      %h2 9.苦情の処理
      %h2 10.漏洩発生時の対応
      %h2 11.継続的改善
      %h2 12.削除
      %p 以上
