.inner-triplab
  .thum-column-area
    .thum-column-02
      / .thum-column-02__image
      %img{ src: 'https://d1te0bovbq6epg.cloudfront.net/uploads/%E7%BE%A4%E9%A6%AC%E6%A1%88%E4%BB%B6/%E4%B8%8A%E9%87%8E%E4%B8%89%E7%A2%91/main_03.jpg', width: '100%'}
      %p.thum-column-label NEW
      .thum-column-02__content
        %p.thum-column-category すごい旅人の実績
        %h3.thum-column-title 【古墳・歴史好き女子必見】関東で出逢える古代パワーの旅in群馬
        .thum-column-utility
          %p.utility-01
            %img{ src: 'https://d1te0bovbq6epg.cloudfront.net/uploads/%E7%BE%A4%E9%A6%AC%E6%A1%88%E4%BB%B6/%E4%B8%8A%E9%87%8E%E4%B8%89%E7%A2%91/people.png' }
            中井和味
          %p.utility-02 2019-03-02  |  97 views
      .thum-column-02__g-pb10
        %ul.thum-job-taglist__ul
          %li
            %img.thum-job-taglist__ul--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg" }
            %p.thum-job-taglist__ul--li 動画
    .thum-column-02
      .thum-column-02__image
      .thum-column-02__content
  = render 'triplab/pagination'