= form_for @profile, url: {action: 'update'} do |f|
  .profile-side
    .profile-side__cover
      %h2.side-title
        プロフィール完成度
      %p.side-number
        %span 5
        ％
      .bar-bg
        .bar
      %p.side-text
        プロフィールを充実させると、シゴトの選考に通過する確率が上がったり、すごい旅人としてSAGOJOからスカウトをうける可能性がアップします。
    .profile-side__btn
      = f.submit "プロフィールを更新する", class: "account-box__field account-box__field__action-profile side-btn", redirect_to: user_path
