<div class="account-box">
  <div class="account-box__image">
    <%= image_tag "icon-mail.svg" %>
  </div>
  <p class="account-box__title">
    メールを送信しました
  </p>
  <p class="account-box__text">
    <span>まだ認証は完了していません。</span><br>
    入力されたメールアドレスに、メールを送信しました。<br>
    メールをご確認いただき、認証を進めてください。<br>
    <br>
    しばらくしてもメールが届かない場合は、<br>
    <a href="######">SAGOJO事務局</a>にご連絡ください。<br>
  </p>
</div>
