= render 'layouts/header'
.main-contents-background
  .main-contents-background__contract
    .main-contents-background__contract__inner
      %h1 利用規約

      %h2 1. 適用範囲
      %p 本利用規約は、株式会社ＳＡＧＯＪＯが提供するウェブサイト「ＳＡＧＯＪＯ」の利用に関し、当社及び利用者に適用されるものとする。利用者は、本サイトを閲覧したことにより、本規約に同意したものとみなす。
      %h2 2. 定義
      %p
        本規約において使用する以下の用語は、各々以下に定める意味を有するものとする。
        %br
        「当社」：株式会社ＳＡＧＯＪＯ
        %br
        本サイト」：当社が提供するウェブサイト「ＳＡＧＯＪＯ」
        %br
        「会員」：本規約の遵守に同意した上で、当社所定の手続によって会員登録を申込み、当社が承諾した者
        %br
        「利用者」：会員、会員登録の申込者及び本サイトの閲覧者
        %br
        「本サービス」：本サイトにおいて、又は本サイトを使用して当社が利用者に対し提供するサービス
        %br
        「個別規約」：当社が本サービス内又は本サービスに付随して提供する個別のサービスのために定められた個別規約（名称は問わない）
        %br
        「知的財産権」：著作権、特許権、実用新案権、意匠権、商標権、及びこれらの権利の隣接権、その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含む）
        %br
        「投稿データ」：本サービスを利用して利用者が投稿その他送信するコンテンツ（文章、画像、動画その他データを含む）
      %h2 3. 本規約の変更
      %p
        １　当社は、利用者との個別の合意なしに、本サイト上の告知又は当社が適当と判断する方法で利用者に通知することにより、本規約を変更することができる。
        %br
        ２　前項による変更後の本規約は、当社が別途定める場合を除き、本サイト等において表示された時点より、その効力を生じるものとする。
      %h2 4. 本サービスの利用
      %p
        １　利用者は、本規約及び第５条に定める個別規約等に従って本サービスを利用するものとする。
        %br
        ２　当社は、利用者との個別の合意なしに、本サービスの内容を変更することができる。
        %br
        ３　前項の変更によって、利用者に不利益、損害等が生じた場合においても、当社は何ら責任を負わないものとする。
        %br
        ４　利用者は、自らが反社会的勢力の構成員、準構成員（過去にこれらであった方を含む）及びその関係者ではないことを当社に対して保証する。
      %h2 5. 個別規約等の関係
      %p
        １　利用者は、本規約以外に、個別規約についても、本規約と同様に遵守しなければならない。
      %br
      ２　本規約と個別規約の定めが異なる場合には、当該個別規約に特段の定めがない限り、個別規約の定めを優先するも
      %h2 6. 禁止事項
      %p
        利用者は、本サービスの利用において、以下の各号のいずれかに該当する行為をしてはならない。
        %br
        ①法令又は本規約並びに個別規約に違反する行為
        %br
        ②本サービス内で、他の利用者その他の第三者（以下、「他の利用者等」という。）の名誉を毀損又はプライバシーを侵害する等し、他の利用者等に不利益又は不快感を与える行為
        %br
        ③当社及び他の利用者等の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する行為
        %br
        ④本サービスを通じ、以下のいずれかに該当する情報を当社又は他の利用者等に送信すること
        %br
        ・過度に暴力的又は残虐な表現を含む情報
        %br
        ・コンピューターウイルスその他の有害なコンピュータープログラムを含む情報
        %br
        ・当社及び他の利用者等の名誉又は信用を毀損する表現を含む情報
        %br
        ・過度にわいせつな表現を含む情報
        %br
        ・差別を助長する表現を含む情報
        %br
        ・薬物の不適切な利用を助長する表現を含む情報
        %br
        ・チェーンメール等の第三者への情報の拡散を求める情報
        %br
        ・他人に不快感を与える表現を含む情報
        %br
        ・その他社会通念上一般公衆に送信することが不適切である情報
        %br
        ⑤本サービスのネットワークに過度の負荷をかける行為
        %br
        ⑥本サービスの運営を妨害するおそれのある行為
        %br
        ⑦当社のネットワーク又はシステム等に不正にアクセスし、又は不正なアクセスを求める行為
        %br
        ⑧第三者に成りすます行為
        %br
        ⑨本サービス上での宣伝、広告、勧誘、営業行為
        %br
        ⑩反社会的勢力等への利益供与
        %br
        ⑪その他、当社が不適切と判断する行為
      %h2 7. 直接取引の禁止
      %p
        利用者は、本サイトに掲載される企業からの募集記事に応募する方法によってのみ当該企業と連絡、交渉、契約の締結その他接触を取れるものとし、当社があらかじめ書面または電子メールにより許可した場合を除き、直接当該企業との接触を取ることは、その理由、方法の如何を問わず禁止する。
      %h2 8. 本サービスの停止
      %p
        １　当社は、以下のいずれかに該当する場合、利用者に事前に通知することなく、本サービスの全部又は一部の提供を停止又は中断することができる。
        %br
        ①本サービスに関するコンピューターシステムの点検又は保守作業を緊急に行う場合 ②コンピューター、通信回線等が事故により停止した場合
        %br③地震、落雷、火災、風水害、停電、天変地異などの不可抗力により本サービスの運営ができなくなった場合
        %br
        ④その他、当社が停止又は中断を必要と判断した場合
        %br
        ２　当社は、前項の措置によって利用者に損害が生じた場合においても、何ら責任を負わないものとする。
      %h2 9. 権利帰属
      %p
        １　本サイト及び本サービスに関する知的財産権は、全て当社に帰属する。
        %br
        ２　利用者は、当社に対し、自らの投稿データについて、自らが投稿その他送信することにつき正当な権利を有していること及び投稿データが第三者の権利を侵害していないことを保証する。
        %br
        ３　利用者は、当社に対し、自らの投稿データについて、当社が利用者から個別の承諾を得ることなくその著作物に関する全ての権利を無償で利用することをあらかじめ許諾し、当該利用に関して著作者人格権等の権利を行使しないものとする。
      %h2 10. 登録抹消等
      %p
        １　当社は、利用者が以下の各号のいずれかの事由に該当する場合は、事前に通知又は催告することなく、当該利用者の投稿データを削除し、又は本サービスの利用を一時的に停止することができる。
        %br
        ①本規約のいずれかの条項に違反した場合
        %br
        ②当方からの問い合わせその他の回答を求める連絡に対して、10日間以上応答がない場合
        %br
        ③その他、当社が本サービスの利用を不適切と判断した場合
        %br
        ２　当社は、前項の措置により利用者に損害が生じた場合においても、何ら責任を負わないものとする。
      %h2 11. 本サービスの内容の変更、終了
      %p
        １　当社は、当社の都合により、本サービスの内容を変更し、又は提供を終了することができる。
        %br
        ２　当社は、前項の措置により利用者に損害が生じた場合においても、何ら責任を負わないものとする。
      %h2 12. 保証の否認及び免責事項
      %p
        １　当社は、当社の都合により、本サービスの内容を変更し、又は提供を終了することができる。
        %br
        ２　当社は、前項の措置により利用者に損害が生じた場合においても、何ら責任を負わないものとする。
      %h2 13. 個人情報の取り扱い
      %p
        当社による利用者の個人情報の取扱いについては、当社プライバシーポリシーの定めによるものとし、利用者はこのプライバシーポリシーに従って当社が利用者の個人情報を取扱うことについて同意する。
      %h2 14. 準拠法等
      %p
        １　本規約の成立、効力、履行及び解釈については、日本国法が専属的に適用されるものとする。
        %br
        ２　本規約の解釈は、日本語によって行われるものとする。
      %h2 15. 協議条項
      %p
        本規約に関して利用者等と当社との間で紛争が生じた場合、誠実に協議し、これを解決するものとする。
      %h2 16. 合意管轄
      %p
        本規約に関して利用者等と当社との間で紛争が生じた場合、誠実に協議し、これを解決するものとする。
      %h2 附則
      %p
        本規約は、平成２８年４月４日から施行される。

      %h1.mid 会員規約

      %h2 1. 適用範囲
      %p
        本規約は、株式会社ＳＡＧＯＪＯが提供するウェブサービスを利用するために会員登録を行う者が遵守すべき事項を定めること目的とする。
      %h2 2. 定義
      %p
        本規約において使用する以下の用語は、各々以下に定める意味を有するものとする。
        %br
        「当社」：株式会社ＳＡＧＯＪＯ
        %br
        「会員」：本規約に同意した上で、当社所定の手続によって会員登録を申込み、当社が承諾した者
        %br
        「本サイト」：当社が提供するウェブサイト「ＳＡＧＯＪＯ」
        %br
        「募集企画」：当社が、当社が契約する企業からの依頼を受けて制作した記事のうち、当該記事に記載された企画に会員が応募することを誘引するもの
        %br
        「企業」：当社と契約した個人ないし法人であり、本サイトの募集企画を通じて募集企画に応募する会員を募集し、当該会員に募集企画の履行を依頼する主体
        %br
        「旅人」：募集企画に応募した会員のうち、当社並びに企業の選考を経て、募集した企業との間で請負契約を締結する会員
        %br
        「知的財産権」：著作権、特許権、実用新案権、意匠権、商標権、及びこれらの権利の隣接権、その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含む）
      %h2 3. 会員登録
      %p
        １　会員登録手続は、会員となる本人が行わなければならず、本人以外の第三者（親族や代理人を含む）によって登録手続を行うことはできない。
        %br
        ２　会員登録手続を行う者は、登録情報につき真実の内容を入力したことを保証する。
        %br
        ３　会員は、一つのアカウントを保有するものとし、複数のアカウントを保有することはできない。
      %h2 4. 登録事項の変更
      %p
        会員は、氏名、住所、電話番号、生年月日、メールアドレス及びその他会員登録の際に登録した内容に変更があった場合、速やかに当社に変更を申し出るものとする。
      %h2 5. 会員資格
      %p
        本サイトへの会員登録した者は、以下各号の条件を満たしたことを保証したものとみなす。
        %br
        ①満１８才以上であること
        %br
        ②未成年である場合には、法定代理人の包括的な同意を得ていること
        %br
        ③本規約に同意したこと
        %br
        ④自らが過去及び現在においても反社会的勢力ではなく、反社会的勢力を利用したことがないこと
      %h2 6. ID及びパスワードの管理責任
      %p
        １　会員は、登録したＩＤ及びパスワードについて適切に管理しなければならない。
        %br
        ２　会員は、登録したＩＤ及びパスワードを第三者と共用し、第三者に貸与又は譲渡してはならない。
        %br
        ３　会員は、登録したＩＤ及びパスワードの盗難があった場合又は第三者に使用されていることが判明した場合には、直ちに当社にその旨通知するとともに、当社からの指示がある場合にはこれに従うものとする。
        %br
        ４　会員が、登録したＩＤ又はパスワードの盗難にあい、又は会員がＩＤ又はパスワードを第三者に貸与等すること等によりそれらが流出し、会員その他第三者が損害を負った場合においても、その責任は会員が負担するものとし、当社はその損害を賠償する責を何ら負わない。
      %h2 7. 会員の地位等の譲渡禁止
      %p
        会員は、会員としての地位又は本規約により生じた権利を第三者に譲渡、売買又は質権の設定その他の担保に供する等の行為をすることができない。
      %h2 8. 退会
      %p
        １　会員は、所定の手続により退会することができる。
        %br
        ２　会員が退会した場合においても、当該会員が当社の会員であった期間に行った募集記事に応募した事実、その際に提供した個人情報については、個別の申出がない限り、当社はそれを削除しないことができる。当社が当該これら情報を保管する場合、別に定めるプライバシーポリシーに従った方法によりこれを保管する。
      %h2 9. 禁止事項
      %p
        １　会員が以下の各号のいずれかに該当した場合、当社は事前に通知することなく、直ちに当該会員の会員資格を取り消すことができる。
        %br
        ①法令又は本規約に違反した場合
        %br
        ②本サービス内で、他の会員その他の第三者（以下、「他の会員等」という。）の名誉を毀損又はプライバシーを侵害する等し、他の会員等に不利益又は不快感を与える行為を行った場合
        %br
        ③本サイトの運営を妨害した場合
        %br
        ④第６条に定める他、ＩＤ及びパスワードの不正使用が認められた場合
        %br
        ⑤当社に虚偽の情報（個人情報及び記事を含む）を提供した場合
        %br
        ⑥会員が、当社の事前の書面による許可なく、企業との間で直接請負契約を締結した場合
        %br
        ⑦その他会員として不適切と当社が判断した場合
        %br
        ２　前項各号に基づき当社が会員資格を取り消し、当該会員が本サイトを利用できなくなったことにより当該会員又は第三者に損害が発生した場合、又は前項各号の各行為により第三者に損害が発生した場合においても、その責は当該会員自身が負担するものとし、当社は何ら責任を負わない。
        %br
        ３　当社が本条第１項第７号に違反した会員を発見した場合、当該会員は当社に対し、当社が当該企業との間で同様の契約を締結した場合に得べかりし利益、当該利益の請求に必要な弁護士費用その他諸費用をただちに支払わなければならない。
      %h2 10. 会員情報の取り扱い
      %p
        当社による会員情報の取扱いについては、当社プライバシーポリシーの定めによるものとし、会員はこのプライバシーポリシーに従って当社が会員情報を取扱うことについて同意する。
      %h2 11. 募集企画への応募・選考
      %p
        １　会員は、当社が本サイトにおいて掲載する募集企画に応募することができる。
        %br
        ２　企画に応募した会員が、当社並びに企業の選考により旅人となれなかった場合においても、その理由の如何を問わず、当社並びに企業は何ら責任を負わない。
      %h2 12. 登録情報の追加・確認
      %p
        １　会員が募集企画に応募する場合、会員は会員登録の際に登録した個人情報に加え、当社が求める個人情報を登録しなければならない。
        %br
        ２　当社は、会員が会員登録時に登録した個人情報並びに前項により求める追加の個人情報について、運転免許証、パスポート、健康保険証その他公的機関が発行する証明書により、その真実性を証明するよう会員に求めることができる。
        %br
        ３　会員が前項に定める個人情報の真実性の証明を拒否した場合、当社はこれら個人情報が虚偽であるものとして当該会員の会員資格の取消、募集企画への応募の禁止、その他必要な措置をとることができる。会員がこれにより何らかの損害を負った場合においても、当社はかかる損害について何ら賠償その他の責を負わない。
        %br
        ４　会員は、募集企画に応募する場合、会員が登録した個人情報を当社が企業に対して提供することにあらかじめ同意する。
      %h2 13. 募集企画への応募条件
      %p
        会員が募集企画に応募する場合、以下の各条件を満たしていなければならず、会員が応募した時点において、当該会員が各条件を満たしていることを当該会員が保証したものとみなす。
        %br
        ①旅行期間中の不測の事態に遭遇した場合に十分な補償が行われる旅行保険に既に加入し、又は募集企画の遂行前には確実に加入していること
        %br
        ②パスポートその他募集企画の遂行に必要な書類、査証等を既に取得し、又は募集企画の遂行前に確実に取得できること
        %br
        ③募集企画の遂行に必要な資金（企業からの謝金等を含まない）を既に用意できていること
        %br
        ④募集企画の遂行に支障を来すような疾病等を有しておらず、また募集企画の遂行中にその遂行に支障を来す疾病等を発症する見込みがないこと
        %br
        ⑤企業が募集企画において特に必要な能力その他資質を要求する場合に、当該資質を確実に備えていること
        %br
        ⑥期間が指定された募集企画に応募する場合に、当該指定期間において確実に募集企画を遂行できること
        %br
        ⑦その他募集企画において要求される事項並びに当社が本規約において要求する事項を満たしていること
      %h2 14. 旅人と企業間の契約
      %p
        １　旅人は、募集を行った企業との間で請負契約を締結しなければならない。
        %br
        ２　旅人は、前項により企業との間で締結する請負契約につき、当該契約の内容を確認した上で、当社に対して当該契約締結に関する代理権を与える。
        %br
        ３　旅人は、第１項並びに前項により旅人と企業との間で締結される契約について、当社が企業の代理人として当該契約を締結することをあらかじめ承認するものとし、当社が旅人と企業の双方を代理することについて不利益がないことをあらかじめ確認する。
        %br
        ４　当社が旅人と企業の間で締結される請負契約の主体ではないことを旅人は確認し、募集企画の履行において、旅人に契約上の報酬請求権、損害賠償請求権、その他債権が発生した場合にあっても、旅人は当社に対しては何らの請求権を有していないことを確認する。
        %br
        ５　旅人は、企業との間で締結された請負契約に基づき取得する報酬の請求及び受領について、当社が旅人を代理して行うことがあることをあらかじめ承認する。この場合における旅人の報酬は、当社から旅人に支払われる。
        %br
        ６　前項の場合、当社が旅人に対して負担する債務は期限の定めのない債務とする。当該債務の弁済期は、当社が旅人から請求を受けた日の翌営業日を基準とした翌月末日に到来するものとする。
      %h2 15. 旅人の責務
      %p
        １　旅人は、企業との間で締結した請負契約の趣旨に則り、誠実に募集企画を遂行しなければならない。
        %br
        ２　旅人は、募集企画の遂行に当たっては、自らの責任において危険を回避する義務を負うものとし、募集企画の遂行において身体、財産等に対して、第三者加害によるものか否かを問わず、何らかの損害を受けたとしても、企業並びに当社は何らの責任も負わないものとする。
        %br
        ３　旅人は、やむを得ない事由がない限り、企業との間で締結した請負契約を解除することができない。
        %br
        ４　旅人が企業との間で締結した請負契約を解除、不履行、不完全履行、その他当該契約に基づく完全な履行をしなかった場合、旅人は企業に対して当該契約に基づく損害賠償義務を負う。
      %h2 16. 知的財産権
      %p
        １　旅人が企業との間で締結された請負契約に基づき制作した文章、写真、動画、その他制作物の知的財産権は、当該契約に特段の記載のない限り、当該企業単独に又は当該企業と当社の共有に帰属する。
        %br
        ２　旅人は、企業との間で締結された請負契約に基づき旅人が制作した制作物の知的財産権について、著作者人格権を行使しない。
        %br
        ３　旅人は、企業との間で締結された請負契約に基づき旅人が制作した制作物の知的財産権について、その対価も含めて企業との間で請負契約を締結していることを確認し、それとは別途知的財産権の使用料等の名目の如何を問わず、企業並びに当社に対して、金銭その他の請求をすることができない。
        %br
        ４　旅人は、企業との間で締結された請負契約に基づき旅人が制作した制作物及び当該制作物を制作する過程において制作した記事、写真等を、企業又は当社の許諾なく、自己のブログ、ＳＮＳ、その他媒体に掲載、投稿等することにより一般に公開してはならない。
      %h2 17. 本規約の変更
      %p
        １　当社は、会員との個別の合意なしに、本サイト上の告知又は当社が適当と判断する方法で会員に通知することにより本規約を変更することができる。
        %br
        ２　前項による変更後の本規約は、当社が別途定める場合を除き、本サイト等において表示された時点より、効力を生じるものとする。
      %h2 18. 準拠法等
      %p
        １　本規約の成立、効力、履行及び解釈については、日本国法が専属的に適用されるものとする。
        %br
        ２　本規約の解釈は、日本語によって行われるものとする。
      %h2 19. 合意管轄
      %p
        本規約に関する紛争については、東京地方裁判所又は東京簡易裁判所を第一審の専属的管轄とする。
      %h2 附則
      %p 本規約は、平成２８年７月１日から施行される。

.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
