.eyecatch-wrapper
  .eyecatch
    .eyecatch-inner
      %h1.eyecatch-inner__header
        シゴト
      %blockuote.eyecatch-inner__body
        人は旅をしなければ、駄目になってしまう
        %span.eyecatch-inner__author
          モーツァルト（1756〜1791）
