.eyecatch-wrapper {
  padding-top: 71px;
}

.eyecatch-triplab {
  background-image: url(https://d1te0bovbq6epg.cloudfront.net/common/img/sugoi-labo/bg-eyecatch-01.svg);
  width: 100%;
  min-width: $base-width;
  min-height: 100%;
  text-align: center;
  line-height: 1.5;
  padding: 48px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.eyecatch-inner-triplab {
  min-height: 135px;
  color: $white;
  &__header {
    font-size: 2.2rem;
    font-weight: normal;
    padding: 15px 0 10px;
    letter-spacing: 3px;
  }
  &__body {
    color: #fff8de;
    font-size: 1.3rem;
    line-height: 2;
  }
  &__author {
    display: block;
    font-size: 1.0rem;
  }
}
