.inner-triplab {
  width: 690px;
  height: 100%;
  float: left;

  .thum-column-area {
    overflow: auto;
    .thum-column-02 {
      float: left;
      width: 335px;
      position: relative;
      overflow: hidden;
      &:nth-child(even) {
        margin-left: 20px;
      }
      &__content {
        padding: 20px;
        background-color: $white;
      }
      .thum-column-label {
        font-family: 'Arial Rounded MT', 'Arial Rounded MT Bold';
        vertical-align: bottom;
        position: absolute;
        top: -20px;
        right: -50px;
        color: white;
        font-size: 10px;
        transform: rotate(45deg);
        background-color: red;
        padding: 32px 40px 1px 32px;
        z-index: 1;
      }
    }
  }

  .thum-column-category {
    display: inline-block;
    color: $white;
    background-color: $blue;
    font-size: 12px;
    padding: 4px 9px;
    border-radius: 7px;
  }

  .thum-column-title {
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    height: 72px;
  }

  .thum-column-utility {
    margin-top: 10px;
    font-size: 10px;
    color: $dark_gray;
    overflow: auto;
    vertical-align: baseline;

    .utility-01 {
      float: left;
      line-height: 29px;

      img {
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        margin-right: 12px;
        border: 2px solid $yellow;
        border-radius: 50%;
      }
    }
    .utility-02 {
      float: right;
    }
  }
}