.footer {
  width: 100%;
  padding: 75px 0 60px 0;
  background-color: #232323;
  color: white;
  position: relative;
}

.footer-inner {
  width: 794px;
  margin: 0 auto 75px;
  &__p {
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold";
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 75px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffcb00;
  }
}

.footer-wrap, .bigger-ul, .smaller-ul {
  overflow: auto;
  font-size: 14px;
  font-weight: bold;
}

.footer-wrap {
  margin-bottom: 75px;
}

.footer-col {
  float: left;
  width: 50%;

  .bigger-li {
    float: left;
    width: 40%;

    .smaller-li {
      margin-top: 12px;
      color: #808080;
      font-weight: normal;
    }
  }
}

.footer-opinion-form {
  float: left;
  width: 50%;
  &__p {
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-bottom: 14px;
  }

  .mail-address-input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: normal;
  }

  textarea {
    margin: 10px 0;
    width: 100%;
    height: 210px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-sizing: border-box;
  }

  .submit {
    letter-spacing: 3px;
    width: 100%;
    padding: 16px;
    background-color: #ffcb00;
    border-radius: 27px;
    border: 1px solid #ffcb00;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
  }
}

.earth {
  margin: 100px 0 30px;

  .inner {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 100%;

    .star-1 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: anti-spin 15s linear infinite;
    }

    .star-2 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: anti-spin 25s linear infinite;
    }

    @keyframes anti-spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }

    .kinton {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: spin 8s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .earth {
      margin: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  .copyright {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Arial Rounded MT", "Arial Rounded MT Bold";
    letter-spacing: 3px;
    color: #b8b8b8;

  }
}