body {
  background-color: $snow_gray;
}

#header-01 {
  width: 100%;
  height: 71px;
  padding: 12px 60px;
  border-bottom: 1px;
  box-sizing: border-box;
  position: fixed;
  border-bottom: 1px solid $light_gray;
  background-color: white;
  z-index: 10;
}

.header-inner {
  min-width: 1113px;
  height: 100%;
}

.header-logo {
  display: block;
  float: left;
  margin: 5px 68px 0 0;
  &__img {
    width: 118px;
    height: 18px;
  }
  &__string {
    font-size: 10px;
  }
}

.header-globalnav-01 {
  height: 100%;
  float: left;
}

.header-list {
  width: 100%;
  height: 100%;
  line-height: 46px;
  font-size: 13px;
  &__item {
    margin-right: 30px;
    display: inline-block;
  }
}

.header-utility-02 {
  float: right;
  height: 100%;
  line-height: 46px;
  display: flex;
  align-items: center;
  &__item {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 1px solid $light_gray;
    border-radius: 50%;
    float: left;
    color: $light_gray;
    position: relative;
  }
  &__string {
    font-size: 13px;
    float: left;
    margin-right: 8px;
  }
}

.fa.fa-bell {
  font-size: 20px;
  color: $light_gray;
  position: absolute;
  top: 25%;
  left: 25%;
}

.fa.fa-comment {
  font-size: 20px;
  color: $light_gray;
  position: absolute;
  top: 25%;
  left: 25%;
}
