.main-content-wrapper {
  height: 1538px;
  padding: 65px 15px 80px;
  margin: 15px 123px;
  background-color: pink;
}

.left-content {
  width: 690px;
  background-color: beige;
  float: left;
}

.job-thumnail {
  width: 690px;
  height: 260px;
  margin-top: 20px;
  background-color: white;
  &__image {
    width: 260px;
    height: 260px;
    float: left;
  }
  &__content {
    width: 390px;
    height: 220px;
    padding: 20px;
    float: right;
    &--company-image {
      margin-right: 10px;
    }
    &--company-name {
      font-size: 14px;
      letter-spacing: 2px;
    }
    &--job-title {
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      margin-bottom: 15px;
    }
    &--thum-job-desc {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 12px;
      color: #aeaeae;
    }
    &--thum-job-utility {
      font-size: 12px;
      color: #aeaeae;
    }
  }
}

.see-more-btn {
  display: block;
  width: 670px;
  height: 25px;
  padding: 18px 10px;
  margin-top: 20px;
  text-align: center;
  background-color: white;
}

.right-content {
  width: 340px;
  height: 1538px;
  background-color: beige;
  float: right;
}