.wrapper {
  width: 100%;
  background-color: $snow_gray;
  padding-top: 71px;
}

.slider_wrap {
  margin-top: 10px;
  overflow-y: hidden;
  background-repeat:no-repeat;
}
// ul
.slider_main {
  white-space: nowrap;
}

.left_slider_button {
  width: 70px;
  height: 560px;
  float: left;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    width: 28px;
  }
}
.right_slider_button {
  width: 70px;
  height: 560px;
  float: right;
  // z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  top: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    width: 28px;
  }
}
// li
.slider_main_li {
  width: 1016px;
  display: inline-block;
  margin-right: 10px;
}

.slider_main_a {
  display: block;
  position: relative;
}

.slider_main_content {
  width: 100%;
  height: 560px;
  float: left;
  background-color: blue;
  position: relative;
  &__image {
  width: 100%;
  filter: brightness(0.6);
  }
}

 .count {
  position: absolute;
  top: 20px;
  right: 25px;
  &__p {
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 25px;
    color: white;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 63px;
    height: 55px;
    }

 }

.slider_link {
  width: 100%;
  position: absolute;
  top: 110px;
  left: 0;
  text-align: center;
  &__company {
  margin-bottom: 45px;
  text-align: center;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 3.4px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    white-space: normal;
  }
}

.slider_link_inner-01 {
  display: inline-block;
  margin: 0 auto;
  &__image {
    font-color: white;
    vertical-align: middle;
    width: 22px;
    height: 22px;
  }
  &__p {
    padding-left: 10px;
    color: white;
    display: inline-block;
  }
}

.slider_link_inner-02_li {
  display: inline-block;
  margin: 0 15px 35px 0;
  &__image {
    vertical-align: middle;
  }
  &__p {
    display: inline-block;
    color: white;
    font-size: 11px;
  }
}

.detail_button {
  font-size: 16px;
  color: white;
  line-height: 30px;
  letter-spacing: 3px;
  padding: 25px 47px 25px 50px;
  background-color: $yellow;
  border-radius: 80px;

}
