.show-main-wrapper {
  margin: 0 auto;
  width: $base-width;
  @include clearfix();
}

.topic-path {
  padding-top: 71px;
}

.topic-inner {
  margin-top: 40px;
}

.topic-content {
  color: $light_black;
  font-size: 0.8rem;
  a {
    color: $light_black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.show-main-content {
  margin-top: 15px;
  @include clearfix();
}

.show-left-content {
  background-color: $white;
  float: left;
  width: $left-width;
}

.job-detail {
  overflow: hidden;
  padding: 30px 20px;
  position: relative;
}

.job-label {
  background-color: $light_green;
  color: $white;
  font-family: 'Arial Rounded MT', 'Arial Rounded MT Bold';
  font-size: 0.9rem;
  padding: 35px 40px 2px 35px;
  position: absolute;
  right: -49px;
  top: -18px;
  transform: rotate(45deg);
}

.job-header-utility {
  @include clearfix();
}

.job-status {
  background-color: $yellow;
  border-radius: 7px;
  color: $white;
  float: left;
  font-size: 0.8rem;
  padding: 3px 8px;
}

.job-item {
  color: $dark_gray;
  float: right;
  font-size: 0.7rem;
  margin: 0 30px 10px 0;
  &__days {
    color: $yellow;
    font-size: 1.0rem;
    font-weight: bold;
    margin-left: 5px;
  }
  &__views {
    border-left: 1px solid $light_gray;
    margin-left: 5px;
    padding-left: 8px;
  }
}

.job-header-title {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 20px 0;
}

.sns-list {
  @include clearfix();
  &__item {
    color: blue;
    float: left;
    margin-right: 10px;
  }
}

.job-body-image {
  margin-top: 40px;
}

.job-body-text {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 2;
  margin-top: 20px;
}

.job-body-sns {
  @include clearfix();
  &__lower {
    float: right;
    margin: 50px 0 25px;
  }
}

.job-body-message {
  margin: 50px 0;
  &__inner {
    background: url(https://d1te0bovbq6epg.cloudfront.net/common/img/bg-job-message-01.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2rem;
    height: 150px;
    letter-spacing: 3px;
    line-height: 150px;
    margin: 0 auto;
    text-align: center;
    width: 460px;
  }
}
