.topic-path
  .topic-inner
    .topic-content
      = link_to "ホーム", root_path
      >
      = link_to "シゴト", home_job_path
      >
      = @article.title
.show-main-content
  .show-left-content
    .show-left-inner
      %article.job-detail
        %p.job-label
          PICK
        .job-header-utility
          %p.job-status
            募集中
          %p.job-item
            募集終了まで
            %span.job-item__days
              5
            %span
              日
            %span.job-item__views
              275
            %span
              views
        %h1.job-header-title
          = @article.title
        .job-header-sns
          %ul.sns-list
            %li.sns-list__item
              tweet
            %li.sns-list__item
              iine
            %li.sns-list__item
              bookmark
            %li.sns-list__item
              g+
      .sub-recommend
