.sub-content
  .sub-content-inner
    .sub-content-sort
      %form.sub-content-form
        %label.sub-content-select
          %select.sub-content-select-box{ onChange: "location.href = value" }
            %option{ value: "/home/job" }おすすめ順
            %option{ value: "/home/latest" }新着順
            %option{ value: "/home/popular" }人気順
            %option{ value: "/home/wanted" }募集中
            %option{ value: "/home/finished" }募集終了
      %p.sub-content-text
        シゴト数
        %span.sub-content-num
          = all_articles.count
        件
