.sub-content
  .sub-content-inner
    .sub-content-sort
      .sub-content-form
        .sub-content-select
          %select.sub-content-select-box
            %option{ value: "job" }おすすめ順
            %option{ value: "latest" }新着順
            %option{ value: "popular" }人気順
            %option{ value: "wanted" }募集中
            %option{ value: "finished" }募集終了
      %p.sub-content-text
        シゴト数
        %span.sub-content-num
          = @all_articles.length
        件
