= render 'layouts/header'
.faq_wrapper
  .faq_main_content
    .faq_left_side
      .faq-nav
        .h1.faq-nav__h1 FAQ
        %nav.faq-nav__nav{ role: "navigation" }
          %ul.nav_list
            %li.bigger_li 旅人の方へ
            %ul.for_travelers_list
              %li#anc-01 シゴト内容について
              %li#anc-02 サイトについて
              %li シゴトの応募
              %li 選考について
              %li 旅先の不安
              %li リターンについて
              %li 確定申告・源泉徴収
              %li 「すごい旅人」について
              %li プロフィールについて
              %li メルマガについて
              %li 個人情報について
              %li 契約について
            %li.bigger_li 企業の方へ
            %ul.for_company_list
              %li シゴトの依頼
              %li シゴトの掲載
              %li 募集の流れ
              %li 費用・リターン
              %li 旅人について
              %li 契約について
    .faq_right_side
      .faq_right_inner
        %h2.faq-hdg-01#anc-01 シゴト内容について
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            SAGOJOにはどんな仕事があるの？
          %dd
            %span.faq-answer A.
            記事の執筆や写真・動画の撮影といったコンテンツ制作のシゴトが中心になります。「旅人だからこそできるシゴト」であることを大切にしつつ、将来的には海外の市場調査や営業代行などといったコンテンツ以外のシゴトも増やしていく予定です。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            どんな職種のシゴトがあるの？
          %dd
            %span.faq-answer A.
            募集職種は様々ですが、現在はコンテンツ制作のシゴトができる「ライター」「編集者」「カメラマン（写真・動画）」などが中心です。詳しくは旅人求人記事をご覧ください。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            シゴトの「リターン」には何があるの？
          %dd
            %span.faq-answer A.
            シゴトのリターンは、「旅の資金」「航空券」「食事券」「宿泊券」など募集ごとに異なります。詳しくは旅人求人記事の募集要項をご覧ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            旅人ではないけど、自分の住んでる地域のシゴトに申し込んでもいいの？
          %dd
            %span.faq-answer A.
            旅人でなくてもシゴトを実行可能であればお申し込みいただけます。ただし、応募後の審査時には旅人であることが優先されます。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            旅の経験は少ないけど大丈夫？
          %dd
            %span.faq-answer A.
            SAGOJOでは経験豊富な旅人たちがあなたの旅をサポートします。誰でも最初は初心者です。チャレンジしたい旅人のご応募を、お待ちしております。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            実績は無いけどやる気はある。それでも応募していいの？
          %dd
            %span.faq-answer A.
            SAGOJOでは、多くの旅人からの応募をお待ちしております。審査の基準は、企業によってもシゴトによっても異なります。実績の有無に関わらず、チャレンジしたい多くの旅人からのご応募をお待ちしております。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            初心者・未経験者でもできるシゴトはないの?
          %dd
            %span.faq-answer A.
            より多くの方にご参加いただけるようなシゴトを随時更新していきます。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            シゴトにはどれくらいのクオリティが求められるの？
          %dd
            %span.faq-answer A.
            求められるクオリティ基準はシゴト内容によりまちまちです。応募後の選考の中で、求められるクオリティ基準についても説明させていただきます。
        %h2.faq-hdg-01#anc-02 サイトについて
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            旅人登録するとどうなるの？
          %dd
            %span.faq-answer A.
            旅人登録することで、SAGOJOに掲載しているシゴトに応募できるようになります。また、SAGOJOに掲載される新しいシゴトやその他のお知らせをメールで受け取ることができます。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            海外在住者でも登録できるの？
          %dd
            %span.faq-answer A.
            住んでいる国・地域に関係なくどなたでも登録できます。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            会社で働きながらでも利用できるの？
          %dd
            %span.faq-answer A.
            お勤めの方でもSAGOJOを利用することはできますが、副業の可否などお勤めの企業の就業規則をご確認ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            ログインパスワードを忘れてしまった
          %dd
            %span.faq-answer A.
            ログイン画面の「パスワードを忘れた方はこちらから」、またはプロフィール画面の「アカウント設定」からパスワードの再設定を行ってください。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            メールアドレスを変更したい
          %dd
            %span.faq-answer A.
            プロフィール画面の「アカウント設定」より、メールアドレスの再設定をお願いします。
        %h2.faq-hdg-01#anc-03 シゴトの応募
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            応募からシゴト実行までの流れはどうなるの？
          %dd
            %span.faq-answer A.
            「初めての方へ」内の「シゴトの流れ」をご覧ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            シゴトに応募したらすぐに働けるの？
          %dd
            %span.faq-answer A.
            応募後、SAGOJOと企業による選考期間があります。マッチング後にもオリエンテーション（シゴトの詳細説明など）がありますので、応募〜シゴトがスタートまではの時間は一般的に2週間〜ひと月前後です。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            一度に複数のシゴトに応募してもいいの?
          %dd
            %span.faq-answer A.
            可能です。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            応募したけど連絡がこない
          %dd
            %span.faq-answer A.
            次のステップに進んでいただく方には、募集締切日から2週間以内にメールにてご連絡します。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            シゴトへ応募した後にキャンセルしたい?
          %dd
            %span.faq-answer A.
            選考中のキャンセルの場合は、SAGOJO事務局（info@sagojo.link）までご連絡ください。企業とのマッチング後のキャンセルは受け付けておりませんので、ご応募の際はシゴトが実行できることを予めご確認ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            企業とのマッチングが決まった後にキャンセルしたい
          %dd
            %span.faq-answer A.
            マッチング後のキャンセルは受け付けておりません。ご応募の際は、シゴトが実行できることを予めご確認ください。