= render 'layouts/header'
.faq_wrapper
  .faq_main_content
    .faq_left_side
      .faq-nav
        .h1.faq-nav__h1 FAQ
        %nav.faq-nav__nav{ role: "navigation" }
          %ul.nav_list
            %li.bigger_li
              %a 旅人の方へ
              .fa.fa-caret-down
            %ul.for_travelers_list
              %li#anc-01 シゴト内容について
              %li#anc-02 サイトについて
              %li#anc-03 シゴトの応募
              %li#anc-04 選考について
              %li#anc-05 旅先の不安
              %li#anc-06 リターンについて
              %li#anc-07 確定申告・源泉徴収
              %li#anc-08 「すごい旅人」について
              %li#anc-09 プロフィールについて
              %li#anc-10 メルマガについて
              %li#anc-11 個人情報について
              %li#anc-12 契約について
            %li.bigger_li
              %a 企業の方へ
              .fa.fa-caret-down
            %ul.for_company_list
              %li#anc-13 シゴトの依頼
              %li#anc-14 シゴトの掲載
              %li#anc-15 募集の流れ
              %li#anc-16 費用・リターン
              %li#anc-17 旅人について
              %li#anc-18 契約について
    .faq_right_side
      .faq_right_inner
        %h2.faq-hdg-01#anc-01 シゴト内容について
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            SAGOJOにはどんな仕事があるの？
          %dd
            %span.faq-answer A.
            記事の執筆や写真・動画の撮影といったコンテンツ制作のシゴトが中心になります。「旅人だからこそできるシゴト」であることを大切にしつつ、将来的には海外の市場調査や営業代行などといったコンテンツ以外のシゴトも増やしていく予定です。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            どんな職種のシゴトがあるの？
          %dd
            %span.faq-answer A.
            募集職種は様々ですが、現在はコンテンツ制作のシゴトができる「ライター」「編集者」「カメラマン（写真・動画）」などが中心です。詳しくは旅人求人記事をご覧ください。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            シゴトの「リターン」には何があるの？
          %dd
            %span.faq-answer A.
            シゴトのリターンは、「旅の資金」「航空券」「食事券」「宿泊券」など募集ごとに異なります。詳しくは旅人求人記事の募集要項をご覧ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            旅人ではないけど、自分の住んでる地域のシゴトに申し込んでもいいの？
          %dd
            %span.faq-answer A.
            旅人でなくてもシゴトを実行可能であればお申し込みいただけます。ただし、応募後の審査時には旅人であることが優先されます。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            旅の経験は少ないけど大丈夫？
          %dd
            %span.faq-answer A.
            SAGOJOでは経験豊富な旅人たちがあなたの旅をサポートします。誰でも最初は初心者です。チャレンジしたい旅人のご応募を、お待ちしております。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            実績は無いけどやる気はある。それでも応募していいの？
          %dd
            %span.faq-answer A.
            SAGOJOでは、多くの旅人からの応募をお待ちしております。審査の基準は、企業によってもシゴトによっても異なります。実績の有無に関わらず、チャレンジしたい多くの旅人からのご応募をお待ちしております。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            初心者・未経験者でもできるシゴトはないの?
          %dd
            %span.faq-answer A.
            より多くの方にご参加いただけるようなシゴトを随時更新していきます。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            シゴトにはどれくらいのクオリティが求められるの？
          %dd
            %span.faq-answer A.
            求められるクオリティ基準はシゴト内容によりまちまちです。応募後の選考の中で、求められるクオリティ基準についても説明させていただきます。
        %h2.faq-hdg-01#anc-02 サイトについて
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            旅人登録するとどうなるの？
          %dd
            %span.faq-answer A.
            旅人登録することで、SAGOJOに掲載しているシゴトに応募できるようになります。また、SAGOJOに掲載される新しいシゴトやその他のお知らせをメールで受け取ることができます。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            海外在住者でも登録できるの？
          %dd
            %span.faq-answer A.
            住んでいる国・地域に関係なくどなたでも登録できます。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            会社で働きながらでも利用できるの？
          %dd
            %span.faq-answer A.
            お勤めの方でもSAGOJOを利用することはできますが、副業の可否などお勤めの企業の就業規則をご確認ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            ログインパスワードを忘れてしまった
          %dd
            %span.faq-answer A.
            ログイン画面の「パスワードを忘れた方はこちらから」、またはプロフィール画面の「アカウント設定」からパスワードの再設定を行ってください。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            メールアドレスを変更したい
          %dd
            %span.faq-answer A.
            プロフィール画面の「アカウント設定」より、メールアドレスの再設定をお願いします。
        %h2.faq-hdg-01#anc-03 シゴトの応募
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            応募からシゴト実行までの流れはどうなるの？
          %dd
            %span.faq-answer A.
            「初めての方へ」内の「シゴトの流れ」をご覧ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            シゴトに応募したらすぐに働けるの？
          %dd
            %span.faq-answer A.
            応募後、SAGOJOと企業による選考期間があります。マッチング後にもオリエンテーション（シゴトの詳細説明など）がありますので、応募〜シゴトがスタートまではの時間は一般的に2週間〜ひと月前後です。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            一度に複数のシゴトに応募してもいいの?
          %dd
            %span.faq-answer A.
            可能です。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            応募したけど連絡がこない
          %dd
            %span.faq-answer A.
            次のステップに進んでいただく方には、募集締切日から2週間以内にメールにてご連絡します。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            シゴトへ応募した後にキャンセルしたい?
          %dd
            %span.faq-answer A.
            選考中のキャンセルの場合は、SAGOJO事務局（info@sagojo.link）までご連絡ください。企業とのマッチング後のキャンセルは受け付けておりませんので、ご応募の際はシゴトが実行できることを予めご確認ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            企業とのマッチングが決まった後にキャンセルしたい
          %dd
            %span.faq-answer A.
            マッチング後のキャンセルは受け付けておりません。ご応募の際は、シゴトが実行できることを予めご確認ください。
        %h2#anc-04.faq-hdg-01 選考について
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            応募後は、どんな審査があるの？
          %dd
            %span.faq-answer A.
            応募時にご記入いただく申し込みフォームのご回答内容によって一次選考を行います。その後、必要に応じて面接による審査を行います。なお、簡単応募と表記のあるシゴトに関しては、面接や一次選考がないものもございます。
        %dl.list-faq-01.even
          %dt
            %span.faq-type Q.
            審査の基準は？
          %dd
            %span.faq-answer A.
            「スキル」「過去の実績」「居住地」「趣味嗜好」「人柄・熱意」など、企業やシゴト内容によって異なります。詳しくは旅人求人記事をご覧ください。
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            シゴトへの応募後、審査を通過する確率を上げるためにはどうしたらいいの？
          %dd
            %span.faq-answer A.
            1. プロフィール情報を充実させる
            %br
            プロフィール情報の充実度は、あなたの信頼性に繋がります。できるだけ多くの項目に詳しく入力するようにしましょう。
            %br
            特に「居住地」「職歴」「実績」は審査に大きく影響する情報です。できるだけ細かく入力してみましょう。
            %br
            %br
            2. スキルを高める
            %br
            ライティング・写真撮影・動画編集など、SAGOJOのシゴトに関わるスキルを高めることも重要です。
            %br
            「すごい旅研究所」では、旅をシゴトにするために必要なスキルやその高め方を発信していますので、ぜひご覧ください。
            %br
            %br
            3. 実績をつくる
            %br
            ライターであれば個人ブログや他メディアで記事を書く経験を増やしたり、フォトグラファーであればInstagramやポートフォリオサイトをつくったりするなど、プロフィールに掲載できる実績をどんどん増やしていきましょう。
        %h2#anc-05.faq-hdg-01 旅先の不安
        %dl.list-faq-01
          %dt
            %span.faq-type Q.
            旅している間、SAGOJOとの連絡手段は？
          %dd
            %span.faq-answer A.
            基本的にはメールやSkypeを使ってのやり取りがメインになります。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            旅している間は、どうやって連絡をとるの？
          %dd
            %span.faq-answer A.
            メールやSkypeなどオンラインでやりとりする形になります。そのため、PC・スマホを旅に持参することをおすすめします。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            旅の中で、トラブルに巻き込まれるなどシゴトの継続が不可になった場合はどうすればいいの？
          %dd
            %span.faq-answer A.
            シゴトを請けている企業へ速やかにご連絡ののち、SAGOJO事務局（info@sagojo.link）にも合わせてご連絡くださるようお願い致します。
        %h2#anc-06.faq-hdg-01 リターンについて
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            シゴトの「リターン」には何があるの？
          %dd
            %span.faq-answer A.
            シゴトのリターンは、「旅の資金」「航空券」「食事券」「宿泊券」など募集ごとに異なります。詳しくは旅人求人記事の募集要項をご覧ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            海外への渡航費用はSAGOJOが出してくれるの？
          %dd
            %span.faq-answer A.
            旅人求人記事の募集要項の中に特に記載がない場合は、渡航費用は支給されません。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            世界各国でシゴトする場合、移動費用は出してくれるの?
          %dd
            %span.faq-answer A.
            基本的にリターンはシゴトの納品物に対してのみとなります。移動経費もお支払いできるシゴトの場合は、旅人求人記事の募集要項に記載がありますのでご確認ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            途中でシゴトをキャンセルした場合、リターンは全くもらえないの？
          %dd
            %span.faq-answer A.
            募集要項に「納品前のお支払い」との記載がない場合は、全て納品後のお支払いになります。そのため、途中でキャンセルされた場合にはリターンはありません。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            納期に間に合わなかった場合、リターンはどうなるの？?
          %dd
            %span.faq-answer A.
            旅人とSAGOJO事務局の間であらかじめ取り決めた納期に間に合わない場合、お約束していたリターンが減額されたりお支払いできなくなったりすることがあります。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            リターンの受け取り方法は？
          %dd
            %span.faq-answer A.
            リターンが現金の場合は、毎月月末に請求書を発行していただくことで指定の口座に振り込みます。その他の場合はリターン内容によって変動しますので、詳しくは旅人求人記事をご覧ください。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            請求書の発行の仕方がわかりません?
          %dd
            %span.faq-answer A.
            SAGOJO事務局にて請求書フォーマットを用意しています。請求書を発行する必要がある方にはお送りしますので、そちらをご利用ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            リターンが現金の場合の「支払い条件」は？
          %dd
            %span.faq-answer A.
            基本的に「当月25日締め、翌月末払い」の銀行振込になります。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            リターンが現金以外の場合は、どのように受け取るの？?
          %dd
            %span.faq-answer A.
            リターン内容やシゴト内容によって変動しますので、詳しくは旅人求人記事をご覧ください。
        %h2#anc-07.faq-hdg-01 確定申告・源泉徴収
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            SAGOJOのシゴトをした場合、確定申告する必要はあるの？
          %dd
            %span.faq-answer A.
            SAGOJO以外のお仕事も含めた収入額に応じて、確定申告する必要があります。詳しくは、お住まいの国・地域のルールをご確認ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            SAGOJOのシゴトは源泉徴収の対象になるの？
          %dd
            %span.faq-answer A.
            居住国が日本の場合には源泉徴収しますが、海外のお住まいの方については源泉徴収しません。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            支払調書は発行されるの？
          %dd
            %span.faq-answer A.
            毎年1月以降より、前年にお支払いのあった旅人には支払調書をお送りします。
        %h2#anc-08.faq-hdg-01 「すごい旅人」について
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            「すごい旅人」にはどうすればなれるの？
          %dd
            %span.faq-answer A.
            プロフィール情報を拝見し、ユニークな経歴やスキルを持つ方に対してSAGOJO事務局から直接ご連絡をしています。その後面談を経て「すごい旅人」として認定されます。まずはご自身のプロフィール情報を充実させましょう。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            「すごい旅人」になるメリットは？
          %dd
            %span.faq-answer A.
            "「すごい旅人」には、
            1. 報酬の高い特別なシゴト依頼を受けることができる
            2. シゴトの企画段階から携わることができる
            3. すごい旅人のコミュニティで、他のすごい旅人と交流できる
            など、さまざまな特典があります。"
        %h2#anc-09.faq-hdg-01 プロフィールについて
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            プロフィールの完成度が高いと、どんなメリットがあるの？
          %dd
            %span.faq-answer A.
            プロフィールを充実させると、シゴトに応募した際の審査通過率がアップします。また、「すごい旅人」としてSAGOJOからスカウトを受けることがあります。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            登録した個人情報はどのように使われるの？
          %dd
            %span.faq-answer A.
            SAGOJOの業務及びそれに関連する用途においてのみ使用します。詳しくは
            「プライバシーポリシー」をご覧ください。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            入力した個人情報が第三者に公開されることはあるの？
          %dd
            %span.faq-answer A.
            弊社にご登録いただいている個人情報は、原則としてご本人様の許可なく第三者に公開することはありません。
            「プライバシーポリシー」に基づいて運営、管理しています。
        %h2#anc-10.faq-hdg-01 メルマガについて
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            退会方法は？
          %dd
            %span.faq-answer A.
            SAGOJOを退会をご希望の方は、大変お手数ですがこちら info@sagojo.link までその旨をご連絡ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            メルマガを配信停止にしたい
          %dd
            %span.faq-answer A.
            メルマガの末尾についている退会リンクからお手続きをお願いします。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            一度停止したメルマガを再開したい
          %dd
            %span.faq-answer A.
            メルマガの再開をご希望の方は、大変お手数ですがSAGOJO事務局（info@sagojo.link）までその旨をご連絡ください。
        %h2#anc-11.faq-hdg-01 個人情報について
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            登録した個人情報はどのように使われるの？
          %dd
            %span.faq-answer A.
            SAGOJOの業務及びそれに関連する用途以外には一切使用しません。詳しくは
            「プライバシーポリシー」をご覧ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            入力した個人情報が第三者に公開されることはあるの？
          %dd
            %span.faq-answer A.
            会員本人が自ら公開設定にした個人情報は一般開示されますが、その他の情報は原則としてご本人様の許可なく第三者に公開することはありません。
            「プライバシーポリシー」に基づいて運営、管理しています。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            シゴトへの応募後も、入力した個人情報は保管しているの？
          %dd
            %span.faq-answer A.
            いただいた個人情報は
            「プライバシーポリシー」に基づき、大切に保管させていただきます。
        %h2#anc-12.faq-hdg-01 契約について
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            現在旅人募集をしている企業または過去にしていた企業と直接取引をしてもいいの？
          %dd
            %span.faq-answer A.
            SAGOJOの認可なく企業と直接取引することはご遠慮いただいています。もし発覚した場合には、利用規約に基づき登録の取り消しや違約金および損害賠償金をご請求します。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            コンテンツの著作権は誰にあるの？
          %dd
            %span.faq-answer A.
            募集要項に特に記載のない場合には、著作権は依頼企業に帰属します。
        %h2#anc-13.faq-hdg-01 シゴトの依頼
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            旅人にシゴトをお願いしたいんだけど、まず何をすればいいの？
          %dd
            %span.faq-answer A.
            SAGOJO事務局（info@sagojo.link）までお問い合わせください。担当者よりご連絡させていただきます。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            特定の旅人を指名してシゴトをお願いすることはできないの？
          %dd
            %span.faq-answer A.
            「すごい旅人プラン」をご利用いただくことで、旅人を直接指名することができます。まずはSAGOJO事務局（info@sagojo.link）までお問い合わせください。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            直接SAGOJOのサイトに旅人求人記事を投稿することはできないの？
          %dd
            %span.faq-answer A.
            現在、SAGOJOでは企業様に直接投稿いただくことはできません。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            旅人と直接取引をしてもいいの？
          %dd
            %span.faq-answer A.
            SAGOJOに登録している旅人との間でSAGOJOを経由することなく直接取引を行うことはご遠慮いただいています。もし発覚した場合には、違約金および損害賠償をご請求します。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            直接取引とは、どこまでの範囲をいうの？
          %dd
            %span.faq-answer A.
            SAGOJOが紹介した旅人およびSAGOJOに登録しているその他の旅人との間で、内容の如何を問わず、SAGOJOと契約したシゴト以外の業務を直接依頼すること全般を含みます。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            同時に複数のシゴトを依頼することはできるの？
          %dd
            %span.faq-answer A.
            同時に複数の旅人求人記事を掲載することも可能です。ご希望の場合は、SAGOJO事務局までお問い合わせください。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            編集・ディレクションは必要ないので、旅人の紹介だけしてほしい
          %dd
            %span.faq-answer A.
            「旅人マッチングプラン」をご選択いただければ、旅人の紹介・マッチングのみとなります。
        %h2#anc-14.faq-hdg-01 シゴトの掲載
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            旅人求人記事の掲載後に、報酬金額などの募集要項を変更したい
          %dd
            %span.faq-answer A.
            基本的には掲載後の変更はお断りしております。やむを得ない場合には、SAGOJO事務局（info@sagojo.link）までご連絡ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            同時に複数のシゴトを依頼することはできるの？
          %dd
            %span.faq-answer A.
            同時に複数の旅人求人記事を掲載することも可能です。ご希望の場合は、SAGOJO事務局（info@sagojo.link）までお問い合わせください。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            すぐに掲載して旅人にお願いしたいシゴトがある
          %dd
            %span.faq-answer A.
            お急ぎで旅人に依頼したいシゴトがある場合には、SAGOJO事務局（info@sagojo.link）までその旨お問い合わせください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            シゴトの掲載期間を延長することはできるの？
          %dd
            %span.faq-answer A.
            シゴトの掲載期間を延長したり、終了した募集を再スタートすることが可能です。ご希望の場合は、SAGOJO事務局（info@sagojo.link）までお問い合わせください。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            旅人求人記事の掲載後に、キャンセルすることはできるの？
          %dd
            %span.faq-answer A.
            基本的には掲載後のキャンセルはお断りしております。やむを得ない場合には、SAGOJO事務局（info@sagojo.link）までご連絡ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            旅人とのマッチング後に、キャンセルすることはできるの？
          %dd
            %span.faq-answer A.
            旅人とのマッチング後のキャンセルはお断りしております。
        %h2#anc-15.faq-hdg-01 募集の流れ
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            旅人からの応募が集まった後、どういうフローでシゴト開始になるの？
          %dd
            %span.faq-answer A.
            基本的には以下のフローになります。
            1. 御社からいただいた選考基準に基づき、SAGOJOが旅人を面接・選考
            2. 選ばれた旅人をご紹介・御社の承認
            3. 詳しいシゴト内容や規約のガイダンスを旅人に実施
            4. シゴト開始
            ※ 1. の面談から同席いただくことも可能です。
        %h2#anc-16.faq-hdg-01 費用・リターン
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            旅人求人記事の掲載から旅人のシゴト完了までのフロー中で、何に対して費用がかかるの？
          %dd
            %span.faq-answer A.
            「旅人求人記事の制作」「旅人とのマッチング」「旅人が制作するコンテンツの編集・ディレクション」に対して費用が発生します。別途、旅人に対してリターンが必要です。詳しくはSAGOJO事務局（info@sagojo.link）までご連絡ください。
        %dl.list-faq-01.even
          %dt
            %span.faq-type  Q.
            何がシゴト「リターン」になるの？
          %dd
            %span.faq-answer A.
            「資金」「旅のアイテム」「航空券」「食事券」「宿泊券」など様々です。お悩みの場合は、SAGOJO事務局（info@sagojo.link）までご連絡ください。
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            旅人へのリターンの提供は誰がやるの？
          %dd
            %span.faq-answer A.
            SAGOJOプランの場合は、基本的にSAGOJOが旅人へのリターン提供を行います。ただしマッチングプランの場合には、御社が旅人へ直接リターンをお渡ししていただく形になります。SAGOJOプランとマッチングプランの違いは、
            「企業の方はこちら」をご覧ください。
        %h2#anc-17.faq-hdg-01 旅人について
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            SAGOJOにはどんな旅人が登録しているの？
          %dd
            %span.faq-answer A.
            コンテンツ制作関連（ライター・カメラマン・イラストレーターなど）だけでなく、プロギャンブラー・連続起業家・料理研究家など、さまざまな特技をもった旅人が登録しています。詳細はSAGOJO事務局（info@sagojo.link）までお問い合わせください。
        %h2#anc-18.faq-hdg-01 契約について
        %dl.list-faq-01
          %dt
            %span.faq-type  Q.
            コンテンツの著作権は誰にあるの？
          %dd
            %span.faq-answer A.
            旅人との共有をご希望にならない限り、依頼企業が著作権を保持しますが、SAGOJOにも一部著作権が生じる場合があります。
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
