/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

/** {
  border: solid 1px red;
}*/
// .account-large-box {
//   height: 650px;
//   width: 550px;
//   border: solid 1px red;
//   background-color: white;
//   margin: 0 auto;
// }

.account-box {
  height: 100%;
  width: 70%;
  background-color: white;
  margin: 60px auto;
  border: solid 1px red;
  &__image {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 50px 0 20px 0;
    background-color: none;
    img {
      border-radius: 50%;
    }
  }
  &__title {
    text-align: center;
    font-size: 25px;
    span {
      font-size: 14px;
      color: black;
    }
  }
  &__text {
    text-align: center;
    color: gray;
    font-size: 12px;
    span {
      font-weight: bold;
    }
    .complete {
      font-size: 16px;
      color: #ffcc33;
    }
  }
  &__article {
      height: 280px;
      width: 600px;
      border: solid 1px red;
      background-color: #888;
      margin: 30px auto 50px;
    p {
      text-align: center;
    }
  }
  &__field {
    height: 55px;
    width: 80%;
    margin: 15px auto;
    border-radius: 30%;
    &__facebook {
      height: 100%;
      width: 100%;
      background-color: #3366CC ;
      color: white;
      font-size: 15px;
      text-align: center;
      margin: 0 auto;
      border-radius: 100px;
      border-style: none;
      cursor: pointer;
    }
    &__form {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 100px;
      text-align: center;
      font-size: 15px;
      background: none;
      border: solid 1px #ddd;
      letter-spacing: 2px;
      outline: none;
    }
    &__action {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 100px;
      text-align: center;
      font-size: 15px;
      background-color: #FFCC33 ;
      color: white;
      cursor: pointer;
    }
  }
}


