/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

/** {
  border: solid 1px red;
}*/

// bodyの背景が通ったら枠線消す

.account-large-box {
  height: 700px;
  width: 700px;
  border: solid 1px red;
  background-color: white;
  margin: 50px auto;
}

.account-send-box {
  height: 500px;
  width: 500px;
  margin: 50px auto;
  background-color: white;
  border: solid 1px red;
}

.account-box {
  height: 100%;
  width: 500px;
  background-color: white;
  margin: 50px auto;
  border: solid 1px red;
  padding: 0 0 40px 0;
  &__image {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 50px 0 20px 0;
    background-color: none;
    img {
      border-radius: 50%;
    }
  }
  &__title {
    text-align: center;
    font-size: 25px;
    span {
      font-size: 14px;
      color: black;
    }
  }
  &__text {
    text-align: center;
    color: gray;
    font-size: 12px;
    span {
      font-weight: bold;
    }
    .complete {
      font-size: 16px;
      color: #ffcc33;
    }
  }
  &__article {
      height: 280px;
      width: 600px;
      border: solid 1px red;
      background-color: #888;
      margin: 30px auto 50px;
    p {
      text-align: center;
    }
  }
  &__field {
    height: 55px;
    width: 80%;
    margin: 15px auto;
    border-radius: 30%;
    &__facebook {
      height: 100%;
      width: 100%;
      background-color: #3366CC ;
      color: white;
      font-size: 15px;
      text-align: center;
      margin: 0 auto;
      border-radius: 100px;
      border-style: none;
    }
    &__form {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 100px;
      text-align: center;
      font-size: 15px;
      background: none;
      border: solid 1px #ddd;
      letter-spacing: 2px;
      outline: none;
    }
    &__action {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 100px;
      text-align: center;
      font-size: 15px;
      background-color: #FFCC33 ;
      color: white;
    }
  }
  .name-announce, .pass-length {
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
  }
  .magazine-button {
    text-align: center;
    font-size: 12px;
  }
}

.convention-button {
  text-align: center;
  &__text {
    font-size: 14px;
    color: red;
    font-weight: bold;
  }
  &__check {
    font-size: 12px;
  }
}
