@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #ffcb00 !important;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev {
  width: 70px;
  height: 560px;
  float: left;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
  &__image {
    width: 28px;
  }
}

.slick-next {
  width: 70px;
  height: 560px;
  float: right;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
  &__image {
    width: 28px;
  }
}

/* Dots */

// .slick-dotted.slick-slider {
//     margin-bottom: 30px;
// }

.slick-dots {
  width: 100%;
  height: 43px;
  margin-top: 10px;
  clear: both;
  background-color: white;
  text-align: center;
    li {
        display: inline-block;
        margin: 8px 27px 19px 0;
        button {
            padding: 0;
            border: none;
            border-radius: 50px;
            color: #ddd;
            background-color: #ddd;
            width: 10px;
            height: 10px;
            font-size: 5px;
            border: 0;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            // &:before {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     content: $slick-dot-character;
            //     width: 20px;
            //     height: 20px;
            //     font-family: $slick-font-family;
            //     font-size: $slick-dot-size;
            //     line-height: 20px;
            //     text-align: center;
            //     color: $slick-dot-color;
            //     opacity: $slick-opacity-not-active;
            //     -webkit-font-smoothing: antialiased;
            //     -moz-osx-font-smoothing: grayscale;
            // }
        }
    }
}

.slick-active button {
    color: $slick-dot-color;
    background-color: $slick-dot-color;
    // opacity: $slick-opacity-default;
}
