.btn{
      margin-bottom: 0 !important;
      font-size: 1.0px;
      padding: 13.5px 22px 13.5px 25px;
      line-height: 2.5rem;
      display: inline-block;
      transition: center;
      text-decoration: center;
      letter-spacing: 3px;
      color: $white;
      border-radius: 100px;
      background-color: $yellow;
      min-width: 88px;
      outline: 0px;
      outline-offset: 0;
      border: 0;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      background-image: none;
      font-weight: 400;
      text-transform: uppercase;
}
