<p><%= @user.name %>さん</p>

<p>SAGOJOへご訪問いただきありがとうございます！
下記のリンクをクリックし、メールアドレスの認証を完了してください。
認証を完了することで、SAGOJOのシゴトに応募することができます。</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>SAGOJOを利用して、あなたの旅をもっと充実させましょう！</p>


<p>※このメールに心当たりがない方は、お手数ですが、info@#####.linkまでご連絡ください。</p>

======================================

puts line<br>
<P>すごい旅人求人サイト『SAGOJO（サゴジョー）」<br>
https://############<br>
株式会社SAGOJO<br>
info@#####.link<br>
Facebook:###########<br>
Twitter:############<br>
instagram:############<br>
LINE@(旅人通信社):###########</P><br>

======================================


