.profile-wrapper {
  margin: 0 auto;
  width: $base-width;
  @include clearfix();
}

.background-image {
  height: 300px;
  width: 100%;
  background-color: $gray;
  padding-top: 71px;
}

.profile-contents {
  margin-top: 15px;
  @include clearfix();
}

.profile-contents__left {
  float: left;
  width: $left-width;
  margin-bottom: 50px;
}

.profile-detail {
  background-color: $white;
  overflow: hidden;
  padding: 30px 20px;
  position: relative;
  h2 {
    text-align: center;
    margin: 100px auto 50px auto;
    font-weight: bold;
  }
}

.form_cover {
  padding: 50px 50px 35px 50px;
}

.profile-text-area {
  font-weight: normal;
  line-height: 2;
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  padding: 15px 25px;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.holder-left {
  text-align: left;
}

.text-area-cover {
  height: 300px;
  margin: 25px auto;
  text-align: left;
}

.profile-action-box {
  height: 100px;
  width: 100%;
  background-color: $light_gray;
  width: 80%;
  margin: 0 auto;
  &__btn {
    margin: 20px auto;
    :hover {
      opacity: 0.6;
    }
  }
}
