.header-utility-02__list {
  position: absolute;
  top: 60px;
  right: 60px;
  border: solid 1px $light_gray;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  list-style: none;
  width: 260px;
  text-align: center;
  margin: 10px auto;
  border-radius: 20px;
  display: block;
  li {
    height: 100%;
    display: list-item;
    border-bottom: solid 1px $light_gray;
    cursor: pointer;
    font-size: 12px;
    .menu {
      text-decoration: none;
      color: $gray;
      padding: 15px 70px;
    }
    .sign_out {
      text-decoration: none;
      color: $red;
      padding: 15px 70px;
    }
  }
  .last-list {
    border-bottom: hidden;
  }
}
