.four_contents_wrapper
  .inner
    %ul.subnav-ul
      %li.list1
        %a.list1__a
          %image.list1__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-01.svg" }
          %dl.list1__dl
            %dt.list1__dt
              はじめての方は
              %br
              こちら
            %dd.list1__dd SAGOJOの使い方を確認しよう
      %li.list2
        %a.list2__a
          %image.list2__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-02.svg" }
          %dl.list2__dl
            %dt.list2__dt
              企業の方は
              %br
              こちら
            %dd.list2__dd
              SAGOJOがご提供できる価値を
              %br
              ご確認ください
      %li.list3
        %a.list3__a
          %image.list3__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-03.svg" }
          %dl.list3__dl
            %dt.list3__dt FAQ
            %dd.list3__dd よくあるご質問はこちら
      %li.list4
        %a.list4__a
          %image.list4__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-04.svg" }
          %dl.list4__dl
            %dt.list4__dt 旅人登録
            %dd.list4__dd 登録してシゴトに応募しよう