%p.footer-inner__p Travelers make the world GOKIGEN.
.footer-wrap
  .footer-col
    %ul.bigger-ul
      %li.bigger-li
        主な機能
        %ul.smaller-ul
          %li.smaller-li
            %a ホーム
          %li.smaller-li
            %a シゴト
          %li.smaller-li
            %a すごい旅研究所
          %li.smaller-li
            %a ログイン
          %li.smaller-li
            %a 旅人登録
      %li.bigger-li
        SAGOJOについて
        %ul.smaller-ul
          %li.smaller-li
            %a はじめての方はこちら
          %li.smaller-li
            %a FAQ
          %li.smaller-li
            %a 企業の方はこちら
          %li.smaller-li
            %a 仲間になる
          %li.smaller-li
            %a 運営会社について
          %li.smaller-li
            %a 利用規約
          %li.smaller-li
            %a プライバシーポリシー
          %li.smaller-li
            %a お問い合わせ
  .footer-opinion-form
    %p.footer-opinion-form__p SAGOJOについてご意見をお聞かせください
    %form
      %input.mail-address-input{ placeholder: "メールアドレスを入力してください" }
      %textarea
      %input.submit{ value: "SAGOJOに意見を送信する" }
