.main-content-wrapper
  .left-content
    %p 新着のシゴト
    .job-thumnail
      %img.job-thumnail__image{ src: "https://d1te0bovbq6epg.cloudfront.net/uploads/LandSkip/Square_Fotolia_176698652_Subscription_Monthly_M.jpeg" }
      %span.job-thumnail__content
        .job-thumnail__content--company
          %img.job-thumnail__content--company-image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg" }
          %span.job-thumnail__content--company-name 株式会社ランドスキップ
        %h3.job-thumnail__content--job-title 【風景ハンター求む】旅先の風景を30秒の映像に！ 国内外で4K動画を撮影してくれる旅人募集
        %p.job-thumnail__content--thum-job-desc 旅先で心に響いた風景をありのままの姿で切り取る“風景ハンター”を募集します。世界・日本各地で4K風景動画を撮影・投稿するおシ...
        %p.job-thumnail__content--thum-job-utility 募集終了まで 7 日 | 335 view
        .job-thumnail__content--thum-job-taglist
          %img.thum-job-taglist-image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg" }
          %ul.thum-job-taglist-ul
            %li
              %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg" }
              %p.thum-job-taglist-li 動画
        .thum-job-return
          .inner-01
            %img.inner-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg" }
            %p.inner-01__p ¥2,000／1件採用につき
          .inner-02
            %img.inner-02__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-object.svg" }
            %p.inner-02__p 他リターンあり
    .job-thumnail
    .job-thumnail
    .job-thumnail
    .job-thumnail
    %a.see-more-btn もっと見る
  .right-content
    %img.topbanner{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/top_baner03.jpg" }
    %h3.right-content-01 新着 すごい旅研究所の記事
    .right-column-01
      %img.right-column-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/uploads/SAGOJO/24%20Values%20of%20SAGOJO.jpg" }
      %h3.right-column-01__title SAGOJOの社内カルチャーをつくる “4つのバリュー” を紹介します
      %p.right-column-01__p 2018-2-22 | 333333 view
      %p.thum-column-label NEW
    .right-column-01
    .right-column-01
    %h3.right-content-02 注目 すごい旅研究所の記事
    .right-column-01
    .right-column-01
    .right-column-01
    %a.see-more-btn-right もっと見る
    .side-sns
      %p.sns-title
        %img.sns-title__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/logo.svg" }
        %span をフォローする
