.job-thumnail
  %img.job-thumnail__image{ src: "https://d1te0bovbq6epg.cloudfront.net/uploads/LandSkip/Square_Fotolia_176698652_Subscription_Monthly_M.jpeg" }
  %span.job-thumnail__content
    .job-thumnail__content--company
      %img.job-thumnail__content--company-image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg" }
      %span.job-thumnail__content--company-name 株式会社ランドスキップ
    %h3.job-thumnail__content--job-title
      = article.title
    %p.job-thumnail__content--thum-job-desc 旅先で心に響いた風景をありのままの姿で切り取る“風景ハンター”を募集します。世界・日本各地で4K風景動画を撮影・投稿するおシ...
    %p.job-thumnail__content--thum-job-utility 募集終了まで 7 日 | 335 view
    .thum-job-taglist
      %img.thum-job-taglist__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg" }
      %ul.thum-job-taglist__ul
        %li
          %img.thum-job-taglist__ul--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg" }
          %p.thum-job-taglist__ul--li 動画
    .thum-job-return
      .inner-01
        %img.inner-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg" }
        %p.inner-01__p ¥2,000／1件採用につき
      .inner-02
        %img.inner-02__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-object.svg" }
        %p.inner-02__p 他リターンあり

