.main-wrapper
  .main-content-wrapper
    .left-content
      %p 新着のシゴト
    .main-left-content
      = render 'layouts/main-left-content'
      %a.see-more-btn もっと見る
    = render 'layouts/main-right-content'
