.right-content
  %img.topbanner{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/top_baner03.jpg" }
  %h3.right-content-01 新着 すごい旅研究所の記事
  .right-column-01
    %img.right-column-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/uploads/SAGOJO/24%20Values%20of%20SAGOJO.jpg" }
    %h3.right-column-01__title SAGOJOの社内カルチャーをつくる “4つのバリュー” を紹介します
    %p.right-column-01__p 2018-2-22 | 333333 view
    %p.thum-column-label NEW
  .right-column-01
  .right-column-01
  %h3.right-content-02 注目 すごい旅研究所の記事
  .right-column-01
  .right-column-01
  .right-column-01
  %a.see-more-btn-right もっと見る
  .side-sns
    .sns-title
      %img.sns-title__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/logo.svg" }
      %span.sns-title__p をフォローする
    %ul.side-sns-list
      %li
        %a.side-sns-list__facebook
          %img.side-sns-list__facebook--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-fb.svg" }
          %p.side-sns-list__facebook--p フォローする
        %a.side-sns-list__twitter
          %img.side-sns-list__twitter--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tw-02.svg" }
          %p.side-sns-list__twitter--p フォローする
      %p.side-sns-list__message フォローして新着のシゴト情報をゲット！
