.main-content-wrapper
  .left-content
    %p 新着のシゴト
    .job-thumnail
      %img.job-thumnail__image{ src: "https://d1te0bovbq6epg.cloudfront.net/uploads/LandSkip/Square_Fotolia_176698652_Subscription_Monthly_M.jpeg" }
      %span.job-thumnail__content
        .company
          %img.job-thumnail__content--company-image{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg" }
          %span.job-thumnail__content--company-name 株式会社ランドスキップ
        %h3.job-thumnail__content--job-title 【風景ハンター求む】旅先の風景を30秒の映像に！ 国内外で4K動画を撮影してくれる旅人募集
        %p.job-thumnail__content--thum-job-desc 旅先で心に響いた風景をありのままの姿で切り取る“風景ハンター”を募集します。世界・日本各地で4K風景動画を撮影・投稿するおシ...
        %p.job-thumnail__content--thum-job-utility 募集終了まで 7 日 | 335 view
        .job-thumnail__content--thum-job-taglist
    .job-thumnail
    .job-thumnail
    .job-thumnail
    .job-thumnail
    %a.see-more-btn もっと見る
  .right-content
