.wrapper
  .slider_wrap
    .left_slider_button
      %img.left_slider_button__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/slider/img_yajirushi_left.svg" }
    %ul.slider_main#slider
      = render partial: 'layouts/slider-main', collection: @slider_articles, as: :slider_article
    .right_slider_button
      %img.right_slider_button__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/slider/img_yajirushi_right.svg" }
  / %ul.slick-dots
  /   %li.slick-dots__li
  /     %button.slick-dots__li--button 1
  /   %li.slick-dots__li
  /     %button.slick-dots__li--button 2
  /   %li.slick-dots__li
  /     %button.slick-dots__li--button 3
